* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gothan', sans-serif;
    background-color: #181818;
    color: #fff;
}

.container {
    display: flex;
    height: 200vh;
    background-image: linear-gradient(rgb(42, 42, 42), black);
}


.sidebar {
    width: 26%;
    background-color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120%;
    height: 100vh; 
    overflow-y: auto; 
    position: fixed; 
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.sidebar-section {
    margin-bottom: 10px;
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
    position: sticky;


}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
    font-size: 18px;
    color: #b3b3b3;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-section ul li:hover {
    color: #ffffff;
    cursor: pointer;
}

.main-content {
    width: 80%;
    margin-left: 340px;
}

.top-nav {
    background-color: #121212;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    height: 80px;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

nav .right {
    display: flex;
    gap: 10px;
}
.nav-buttons {
    display: flex;
    margin-left: 650px;
    list-style: none;
    gap: 10px;
}
.nav-buttons p {
    color: #b3b3b3;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
}

.nav-buttons p:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}
.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #b3b3b3;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-link:hover {
    color: #fff;
}

.nav-button {
    font-weight: bold;
    border: none;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-right: 30px;
}

.nav-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.nav-buttons a{
    text-decoration: none;
}
.setas {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10px;
    
}
.setas img {
    height: 30px;
    width: 30px;
    
    transition: transform 0.3s ease-in-out;
    filter: invert(1);
}

.setas img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#seta2{
}
#rotateimg{
    rotate: 180deg;
}

.parte1{
    width: 300px;
    font-size: 18px;
    background-color: #242424;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}
.parte1 button {
    width: 130px;
    height: 35px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 15px;
    transition: transform 50ms ease-in-out;
}
.parte1 button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.parte1 h3 {
    font-size: 16px;
}
.parte1 p {
    margin-top: 15px;
    font-size: 14px;
}

#logo {
    width: 100px;
}
i {
    width: 30px;
    margin-left: 13px;
}
footer {
    font-size: 10px;
}
footer ul li{
    font-size: 12px!important;
}
#botaoportugues button {
    background-color: transparent; 
    border: 1px solid white;
    color: white; 
    padding: 7px 12px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 25px; 
    margin-top: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease, ;
}
#botaoportugues button:hover {
    transform: scale(1.1); 
}
#botaoportugues button img {
    width: 20px;
    height: 15px;
    margin-right: 5px; 
}
#botaoportugues :hover{
    border: 1px solid white;
    cursor: pointer;
}
#bibi {
    margin-top: 8px;
}
#mais {

}


.menu {
    padding: 5px;
    margin-left: 5px;
    justify-content: center;
    
}
#linha {
    display: flex;
}
#linha h2 {
    max-width: 400px;
}
#linha h4 {
    margin-left: 550px;
    color: #b3b3b3;
}
#linha h4:hover {
    text-decoration: underline;
    cursor: pointer;
}
#linha2 {
    display: flex;
}
#linha2 h2 {
    max-width: 400px;
}
#linha2 h4 {
    margin-left: 630px;
    color: #b3b3b3;
}
#linha2 h4:hover {
    text-decoration: underline;
    cursor: pointer;
}
.linha {
    display: flex;
    
}
.linha h2 {
    max-width: 400px;
}
.linha h4 {
    margin-left: 670px;
    color: #b3b3b3;
}
.linha h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.menu h3 {
    font-size: 16px;
}
.menu p {
    font-size: 14px;
}

.artista {
    margin-left: 2px;
    padding: 10px;
}

#artistas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}
.imagem {
    width: 138px;
    border-radius: 50%;
}
.album {
    margin-left: 2px;
    padding: 10px;
}
.album h3 {
    font-size: 14px;
    max-width: 140px;
}
.album p {
    font-size: 12px;
    max-width: 140px;
}
#albuns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}
#menu {
    margin-top: 30px;
}
.musica {
    width: 143px;
    border-radius: 5px;
}




.play-button {
    position: absolute;
    transform: translate(-90%, -120%);
    border: none;
    background-color: #1db954; 
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    align-items: center;
    margin-left: 130px;
    margin-top: 0;
    transition: opacity 0.3s ease; 
    opacity: 0; 
}

/* .artista::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 165, 165, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1; 
    border-radius: 5px;
} */

.artista:hover {
    cursor: pointer;   
    content: "";
    background-color: #1c1c1c;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.artista:hover::before {
    opacity: 1;
}


.play-button i {
    color: black; 
    font-size: 16px;
    margin-right: 12px;
}

.artista:hover .play-button {
    display: flex;
    opacity: 1;
}


.album:hover {
    cursor: pointer;   
    content: "";
    background-color: #1c1c1c;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.album:hover::before {
    opacity: 1;
}


.play-button i {
    color: black; 
    font-size: 16px;
    margin-right: 12px;
}

.album:hover .play-button {
    display: flex;
    opacity: 1;
}

.list-container {
display: flex;
justify-content: space-between;
margin: 20px ;
}
.list {
list-style-type: none;
padding: 2px;
}
.list-title {
font-weight: bold;
margin-bottom: 10px;
}
.list-section {
flex: 1;
margin: 10px;
}
.list li {
color: gray;
margin-bottom: 8px;
transition: color 0.3s, text-decoration 0.3s;
font-size: 15px;
}
.list li:hover {
color: white;
text-decoration: underline;
cursor: pointer;
}
.separador{
    border-top: 1px solid rgb(71, 71, 71);
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 30px 0;
    width: 700px;
    margin-left: 60px;
    }
    
.sidebar::-webkit-scrollbar {
    width: 8px; 
    background-color: transparent; 
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px; 
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7); 
}