*{
    font-family: 'Gotham', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    background: linear-gradient( #313030, #000000);
    padding-top: 30px;
    height: 150vh;
}
#container{
    padding-top: 50px;
    background: linear-gradient(#000000, #1a1818);
    border-radius: 10px;
    color:white;
    width: 740px;
    height: 1000px;
    margin: 0 auto; 
    align-items: center;
    text-align: center;
}
#conteudo{
    display: grid;
    gap: 14px;
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
}
#conteudo div{
    padding: 20px;
    color: white;
    border: 1px solid silver;
    padding: 10px 45px;
    display: flex;
    font-weight: 500;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border-radius: 30px;
}
#conteudo div:hover {
    border-color: white;
    border-width: 2px;
}
#logospotify{
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}
h1{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: bolder;
}
.separador{
    border-top: 1px solid rgb(71, 71, 71);
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 30px 0;
    width: 500px;
    margin-left: 130px;
}
form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px; 
}

input[type="text"],
input[type="password"] {
    padding: 12px; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333; 
    color: #fff; 
    font-size: 16px;
    width: 58%;
    margin-left: 95px;
}

input[type="submit"] {
    width: 65%;
    background-color: #22db63; 
    font-size: 15px; 
    font-weight: 700; 
    padding: 14px; 
    border: 3px solid #22db63; 
    border-radius: 30px; 
    margin-top: 20px;
    margin-left: 90px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
input[type="text"]:hover,
input[type="password"]:hover {
    border-color: white;
    border-width: 2px;
}
input[type="submit"]:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.hlinks{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.hlinks:hover{
    color: #1ed760;
}
#inscrevase p{
    color: #8b8b8b;
    padding: 20px;
}
#email{
    font-weight: 600;
    font-size: 15px;
    margin-right: 120px;
}
#senhanova{
    font-weight: 600;
    font-size: 15px;
    margin-right: 265px;
}
#svg{
    margin-left: -20px;
}
.switch {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: -15px;
    
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.4s;
    margin-left: 100px;
}

.slider::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: transform 0.4s;
}

input:checked + .slider {
    background-color: #1db954; 
}

input:checked + .slider::before {
    transform: translateX(20px);
}
.switch span {
    margin-left: 10px;
    color: #ffffff;
}
.footer {
    background-color: #191818;
    color: #888; 
    padding: 30px 20px; 
    text-align: center;
    width: 100%;
    font-size: 14px; 
    box-sizing: border-box;
}

.footer a {
    color: #ccc; 
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
::placeholder{
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
}