* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham', sans-serif;
    background-color: #181818;
    color: #fff;
}
iframe{
    border: none;
    border: none; 
    margin-top: -8px; 
    display: block; 
}

.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 39%;
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120%;
}

.sidebar-section {
    margin-bottom: 10px;
    background-color: #121212;
    border-radius: 8px;
    padding: 9px;
    
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
    font-size: 17px; 
    color: #b3b3b3;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar ul li img {
    width: 100px;
    margin-bottom: 20px;
}

.sidebar ul li i {
    margin-right: 10px;
}

.sidebar-section ul li:hover {
    color: #ffffff;
    cursor: pointer;
}

.main-content {
    width: 77%;
    padding: 20px;
}
.top-nav {
    background: linear-gradient(180deg, #1D240F 0%, #37441D 100%);
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    height: 70px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#setas {
    display: flex;
    align-items: center;
}

#setas img {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
    filter: invert(1);
}

#setas img:hover {
    transform: scale(1.1);
}
#rotateimg{
    rotate: 180deg;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -5px;
}

.nav-buttons p {
    color: #b3b3b3;
    font-size: 16px;
}

.nav-buttons p:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.nav-button {
    background-color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
}

.nav-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.parte1 {
    font-size: 18px;
    background-color: #242424;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

.parte1 button {
    width: 130px;
    height: 35px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 15px;
    transition: transform 50ms ease-in-out;
}

.parte1 button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.parte1 h3 {
    font-size: 16px;
}

.parte1 p {
    margin-top: 15px;
    font-size: 14px;
}
#sidebarhl{
    font-size: 12px!important;
    list-style-type: none;
    cursor: pointer;
    margin-left: 20px;
}
#botaoportugues button {
    background-color: transparent; 
    border: 1px solid white;
    color: white; 
    padding: 7px 12px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 25px; 
    margin-top: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease, ;
}
#botaoportugues button:hover {
    transform: scale(1.1); 
}
#botaoportugues button img {
    width: 20px;
    height: 15px;
    margin-right: 5px; 
}
#botaoportugues :hover{
    border: 1px solid white;
    cursor: pointer;
}
