* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gothan', sans-serif;
    background-color: #181818;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 23%;
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-section {
    margin-bottom: 10px;
    background-color: #121212;
    border-radius: 8px;
    padding: 20px;

}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
    font-size: 20px;
    color: #b3b3b3;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-section ul li:hover {
    color: #ffffff;
    cursor: pointer;
}

.main-content {
    width: 80%;
}

.top-nav {
    background-color: #1D240F;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
}

nav .right {
    display: flex;
    gap: 10px;
}
.nav-buttons {
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav-buttons p {
    color: #b3b3b3;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
}

.nav-buttons p:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}
.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #b3b3b3;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-link:hover {
    color: #fff;
}

.nav-button {
    background-color: #b91d1d;
    font-weight: bold;
    border: none;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-right: 30px;
}

.nav-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.parte1{
    width: 280px;
    font-size: 18px;
    background-color: #242424;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}
.parte1 button {
    width: 130px;
    height: 35px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 15px;
    transition: transform 50ms ease-in-out;
}
.parte1 button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.parte1 h3 {
    font-size: 16px;
}
.parte1 p {
    margin-top: 15px;
    font-size: 14px;
}

#logo {
    width: 100px;
}
i {
    width: 30px;
    margin-left: 13px;
}
footer {
    font-size: 10px;
}
footer ul li{
    font-size: 12px!important;
}
.now-playing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.song-info {
    display: flex;
    align-items: center;
}


.song-info h3 {
    margin-bottom: 5px;
}


.playlist ul {
    list-style: none;
}

.playlist ul li {
    padding: 10px 0;
    border-bottom: 1px solid #282828;
}

.playlist ul li:hover {
    color: #b91d1d;
}
#capa {
    background-color: #37441D;
    padding-bottom: 79px;
    border-radius: 4px;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    text-align: left; 
    padding: 20px; 
    font-size: 30px;
}

#capa img {
    width: 200px;
    height: 200px;
    border-radius: 2px;
    margin-right: 20px; 
}
#capa p{
    margin-bottom: 60px;
    font-size: 15px;
}
#capa h1{
    margin-bottom: -40px;
    margin-left: -40px;
}
